<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Session 이용하기</h1>

    <h3>HttpSession 을 매개변수로 선언하기</h3>
    <form action="login1" method="post">
        ID : <input type="text" name="id"><br>
        PWD : <input type="password" name="pwd"> <br>
        <input type="submit" value="로그인">
    </form>
    <hr>
    <h3>@SessionAttributes 사용하기</h3>
    <form action="login2" method="post">
        ID : <input type="text" name="id"><br>
        PWD : <input type="password" name="pwd"> <br>
        <input type="submit" value="로그인">
    </form>
</body>
</html>