<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="text-align: center;color: lightblue">파일 업로드 해보기</h1>
    <hr>
    <h3>single file 업로드 해보기</h3>
    <form action="single-file" method="post" enctype="multipart/form-data"> <!-- 필기 데이터 전송을 위한 타입 -->
        파일 : <input type="file" name="singleFile"> <br>
        파일 설명 : <input type="text" name="singleFileDescription">
        <input type="submit">
    </form>
    <h3>multi-file 업로드 해보기</h3>
    <form action="multi-file" method="post" enctype="multipart/form-data"> <!-- 필기 데이터 전송을 위한 타입 -->
        파일 : <input type="file" name="multiFiles" multiple> <br>
        파일 설명 : <input type="text" name="multiFileDescription">
        <input type="submit">
    </form>
</body>
</html>